{% extends "esqueleto.html" %}

{% block contenido %}
<h2>Asignaturas</h2>

{% if asignaturas.count() > 0 %}
    {% for asignatura in asignaturas %}
        (<a href="/asignaturas/elimina?id={{ asignatura.key.urlsafe() }}">supr</a>)
        (<a href="/asignaturas/modifica?id={{ asignatura.key.urlsafe() }}">modif</a>)
        (<a href="/proyectos/lista?asg={{ asignatura.key.urlsafe() }}">prys</a>)
        {% include "entrada_asignatura.html" %}
    {% endfor %}
{% else %}
    <p><b>No hay asignaturas registradas.</b></p>
{% endif %}

<p>
    <a href="/asignaturas/nueva">Nueva asignatura</a>
</p>
{% endblock %}
