{% extends "esqueleto.html" %}

{% block contenido %}
<h2>Proyectos</h2>

{% if proyectos.count() > 0 %}
    {% for proyecto in proyectos %}
        (<a href="/proyectos/elimina?id={{ proyecto.key.urlsafe() }}">supr</a>)
        (<a href="/proyectos/modifica?id={{ proyecto.key.urlsafe() }}">modif</a>)
        {% include "entrada_proyecto.html" %}
    {% endfor %}
{% else %}
    <p><b>No hay proyectos registrados.</b></p>
{% endif %}

<p>
    <a href="/proyectos/nueva">Nuevo proyecto</a>
</p>
{% endblock %}
